.container {
  flex: 1;
  padding: 24px;
  transition: margin-left 0.2s ease-in-out;
}

.sidebar-open {
  margin-left: 240px; /* Ajuste para el ancho del sidebar */
}

@media (max-width: 768px) {
  .sidebar-open {
    margin-left: 80%; /* Ajuste para el ancho del sidebar en pantallas pequeñas */
  }
}

.tab {
  position: fixed;
  top: 5%;
  left: 0;
  transform: translateY(-50%);
  background-color: #c6c6c6;
  padding: 8px;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  z-index: 60;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 40px;
}

.tab-text {
  font-size: 16px;
  color: #000000;
}

.dark .tab {
  background-color: #374151;
}

.dark .tab-text {
  color: #ffffff;
}

.content {
  flex: 1;
  padding: 24px;
  transition: margin-left 0.2s ease-in-out;
}
