/* Contenedor principal */
.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
}

/* Estilos para el modo claro y oscuro */
.light {
  background-color: #ffffff;
  color: #000000;
}

.dark {
  background-color: #1a202c;
  color: #f7fafc;
}

/* Botón principal */
.button {
  background-color: #3b82f6;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 8px;
  margin-bottom: 16px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #2563eb;
}

/* Título principal */
.title {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 32px;
  margin-bottom: 16px;
}

/* Contenedor de la cuadrícula */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

@media(min-width: 768px) {
  .grid-container {
    grid-template-columns: 2fr 1fr;
  }
}

.image-container {
  text-align: center;
}

.image {
  border-radius: 3%;
  width: 100%;
  max-width: 500px;
  margin-bottom: 16px;
}

.details-comments-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media(min-width: 768px) {
  .details-comments-container {
    flex-direction: row;
  }
}

.details-container {
  padding: 16px;
}

.details-card {
  background-color: var(--card-bg-color);
  border-radius: 8px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin-bottom: 16px;
}

.bold {
  font-weight: bold;
}

.mb-2 {
  margin-bottom: 8px;
}

.comments-rating {
  display: flex;
  flex-direction: column;
}

.form {
  margin-bottom: 16px;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.input {
  background-color: #f3f4f6;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  padding: 8px;
  margin-right: 8px;
  flex-grow: 1;
}

.comments-section {
  margin-top: 16px;
}

.comments-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.comments-list {
  margin-top: 16px;
}

.comment-item {
  margin-bottom: 16px;
}

/* Estilo para la calificación */
.flex {
  display: flex;
  align-items: center;
}

.text-yellow-500 {
  color: #f59e0b;
}

.text-gray-500 {
  color: #6b7280;
}

.cursor-pointer {
  cursor: pointer;
}

/* Variables de CSS para modo claro y oscuro */
:root {
  --card-bg-color-light: #ffffff;
  --card-bg-color-dark: #2d3748;
}

.light .details-card {
  background-color: var(--card-bg-color-light);
}

.dark .details-card {
  background-color: var(--card-bg-color-dark);
}
